html, body {
    margin: 0;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}

div {
    text-align: center;
    margin: auto 10vw;
    display: flex;
    flex-direction: column;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
        }

        .crosshair {
            width: 20px;
            height: 20px;
            position: absolute;
            left: 50%;
            top: 50%;
            background-color: gray;
        }