name: Build and Release

on:
    push:
        tags:
    workflow_dispatch: # Allows you to trigger manually from the Actions tab

permissions:
    contents: write

jobs:
    build:
        name: Build on ${{ matrix.os }}
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                os: [ubuntu-latest, windows-latest, macos-latest]

        steps:
            - uses: actions/checkout@v3

            # Install Linux Dependencies (OpenGL libraries)
            - name: Install Dependencies (Linux)
              if: runner.os == 'Linux'
              run: |
                  sudo apt-get update
                  sudo apt-get install -y libgl1-mesa-dev xorg-dev

            # Configure CMake
            - name: Configure CMake
              run: cmake -S . -B build -DCMAKE_BUILD_TYPE=Release

            - name: Install
              run: cmake --install build --config Release --prefix build/install

            - name: Package
              run: |
                  cd build
                  cpack -C Release

            # Upload the artifact to the GitHub Release
            - name: Upload Release Asset
              uses: softprops/action-gh-release@v1
              if: startsWith(github.ref, 'refs/tags/')
              with:
                  files: build/*.zip
